table{
    width: 800px !important;
}

.div-form{
    margin-left: 15%;
}

.cpf{
    width: 100% !important;
    display: -webkit-box !important;
}

.input-group{
    height: 40px !important;
}

.erro-validar{
    margin-top: 1% !important;
}

.cep{
    width: 30% !important;
}

.email{
    width: 50% !important;
}

.telefone{
    width: 30% !important;
}