table{
    width: 800px !important;
}

.div-form{
    margin-left: 15%;
}

.cnpj{
    width: 1000% !important;
}

.cep{
    width: 30% !important;
}

.erro-validar {
    margin-top: 1% !important;
}

#cnpj{
    width: 200px !important;
}


