*{
    margin: 0;
    padding: 0;
}

ul{
    z-index: 1 !important;
}

body{
    margin-top: -1.5% !important;
}

input[type="checkbox"]{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

#filtro{
    width: 40% !important;
}

#cpf, #cnpj{
    width: 200px;
}

.cpf-cnpj{
    width: 100% !important;
    display: -webkit-box !important;
}

.erro-campo{
    border: 1px solid red;
    -webkit-box-shadow: 1px 0px 7px red!important;
}

.erro-validar {
    position: relative;
    margin-top: 3%;
    margin-left: 3%;
}