h5{
    text-align: center;
}

.container{
    margin-top: 5% !important;
    z-index: -1 !important;
}

.tabela{
    width: 800px !important;
}

.circulo{
    width: 50%;
    margin-left: 24%;
}

.numero{
    display: inline-block;
    position: relative;
    top: 7px;
    left: -84px;
}

@media(max-width: 800px) {
    .numero {
        font-size: 107px;
        display: inline-block;
        position: relative;
        top: 29px;
        left: -202px;
    }
}