*{
    margin: 0;
    padding: 0;
}

i{
    cursor: pointer;
}

html{
    height: 100% !important;
    width: 100% !important;
}

ul{
    z-index: 1 !important;
}

body{
    margin-top: -1.5% !important;
}

input[type="checkbox"]{
    cursor: pointer;
}

textarea{
    height: 70px !important;
}

.pointer{
    cursor: pointer;
}

#filtro{
    width: 40% !important;
}

#cpf, #cnpj{
    width: 200px !important;
}

.cpf-cnpj{
    width: 100% !important;
    display: -webkit-box !important;
}

.erro-campo{
    border: 1px solid #bd2130;
    -webkit-box-shadow: 1px 0px 7px #bd2130!important;
}

.erro-validar {
    position: relative;
    margin-top: 3%;
    margin-left: 3%;
    color: #bd2130;
}

.sem-evento{
    pointer-events: none;
}