table{
    width: 800px !important;
}

.div-form{
    margin-left: 15%;
}

.cpf{
    width: 30% !important;
}

.cep{
    width: 30% !important;
}

.email{
    width: 50% !important;
}

.telefone{
    width: 30% !important;
}